.portfolio {
	color: #E1E2E2;
}

.portfolio__description {
	margin: 0;
	line-height: 25px;
	color: #E1E2E2;
}

.portfolio__title {
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin-top: 30px;
	margin-bottom: 0;
}

.portfolio__projects {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio__projects__item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 50%;
	margin-bottom: 40px;
}

.portfolio__projects__item__link {
	display: inline-block;
	width: 50%;
}

.portfolio__projects__item__img {
	width: 100%;
	height: auto;
	border-radius: 40px;
	/*cursor: pointer;*/
}

.portfolio__projects__item__text {
	align-self: stretch;
	width: 45%;
	padding-left: 20px;
	padding-right: 15px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 15px;
}

.portfolio__projects__item__text__title {
	margin-top: 10px;
	margin-bottom: 10px;
	align-self: center;
}

.portfolio__projects__item__text__description {
	text-align: left;
	margin-top: 0;
	font-size: 14px;
}

.portfolio__projects__item__text__link {
	font-size: 14px;
	text-align: left;
	color: #FB8122;
}

.portfolio__openSource {
	
}

@media only screen  and (max-width : 768px) {
	.portfolio__projects {
		flex-direction: column;
	}

	.portfolio__projects__item {
		width: 100%;
	}

	.portfolio__projects__item__text__title {
		margin-top: 0;
		font-size: 16px;
	}
}

@media only screen  and (min-width : 1224px) {
	.portfolio__description {
		font-size: 18px;
		line-height: 27px;
	}

	.portfolio__title {
		font-size: 19px;
	}

	.portfolio__projects__item__text__title {
		font-size: 18px;
	}

	.portfolio__projects__item__text__description {
		font-size: 15px;
	}

	.portfolio__openSource, .portfolio__noStoreProject {
		font-size: 18px;
		line-height: 25px;
	}
}