.about {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.about__logo {
	width: 45%;
	border: 1px solid grey;
	border-radius: 10px;
	float: left;
}

.about__description {
	padding-left: 3%;
}

.about__description__title {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: white;
}

.about__description__text {
	margin-top: 7px;
	line-height: 25px;
	color: #E1E2E2;
}

@media only screen  and (min-width : 1224px) {
	.about__description__title {
		font-size: 20px;
	}

	.about__description__text {
		margin-top: 15px;
		font-size: 18px;
		line-height: 27px;
	}
}