.header__container {
	padding-top: 20px;
	padding-bottom: 60px;
}

.header__top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__top__titles {
	flex: 1;
}

.header__top__titles__title {
	margin: 0;
	font-size: 40px;
}

.header__top__titles__subtitle {
	margin-top: 0;
	margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.header__top__titles__lang {
	font-size: 14px;
	color: #E1E2E2;
	cursor: pointer;
}

.header__top__titles__lang.active {
	color: #FB8122;
}

.header__top__titles__lang:hover {
	color: white;
	border-bottom: 1px solid white;
}

.header__top__logo {
	width: 15%;
}

.header__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
}

.header__info__name {
	font-weight: 500;
	letter-spacing: 2.5px;
}

.header__info__column {
	margin: 0;
	padding: 25px 0;
	border-top: 2px solid #FB8122;
}

.header__info__column.small {
	flex: 0.8;
}

.header__info__column.big {
	flex: 2;
}

.header__info__column__description {
	display: block;
	margin-top: 0;
	margin-bottom: 10px;
	color: #E1E2E2;
}

.header__info__column__description .white {
	color: white;
	font-weight: bold;
}

.header__info__column__description > span {
	cursor: pointer;
}

.header__info__socialList {
	min-height: 100px;
	padding-bottom: 0px;
	list-style-type: none;
}

.header__info__socialList li {
	margin-bottom: 10px;
}

.header__info__separator {
	flex: 0.2;
}

.link {
	color: #E1E2E2;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.linkedIn:hover {
	color: #007bb6;
}

.github:hover {
	color: #c9510c;
}

.headHunter:hover {
	color: #d6001c;
}