.experience {

}

.experience__description {
	margin: 0;
}

.experience__work {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey; 
}

.experience__work__logo__wrapper {
	flex: 1;
}

.experience__work__logo {
	width: 100%;
	height: auto;
}

.experience__work__text {
	flex: 4;
	padding-left: 30px;
	padding-top: 0px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 10px;
	align-self: stretch;
}

.experience__work__text__title {
	margin: 0;
	font-size: 20px;
}

.experience__work__text__position {
	margin-top: 10px;
	margin-bottom: 0;
}

.experience__work__text__responsibility {
	margin: 5px 0;
	line-height: 22px;
}

.experience__work__text__period {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.experience__work__text__link {
	font-size: 14px;
	text-align: left;
	color: #FB8122;
}

@media only screen  and (max-width : 768px) {
	.experience__work__logo__wrapper {
		flex: 3;
	}

	.experience__work__text {
		padding-left: 15px;
	}
}

@media only screen  and (min-width : 1224px) {
	.experience__description {
		font-size: 18px;
	}

	.experience__work__text__position {
		margin-top: 15px;
	}

	.experience__work__text__responsibility {
		line-height: 25px;
		margin-top: 10px;
	}
	
	.experience__work__text__period {
		margin-top: 10px;
	}
}