html {
	background-color: #1D2228;
}

a {
	color: #E1E2E2;
}

.app__container {
	color: white;
  padding: 0 10%;
  padding-bottom: 80px;
}

.app__main {
	display: flex;
	flex-direction: row;
}

.app__main__separator {
	flex:0.2;
}

.app__main__route {
	flex: 4.2;
	border-top: 2px solid #FB8122;
	padding-top: 25px;
}

@media only screen  and (min-width : 1224px) {
	.app__main__route {
		padding-top: 40px;
	}
}